cluster_name        = "wandb-operator-test"
region              = "us-west-2"
kubernetes_version  = "1.31"
node_count          = 1
node_instance_type  = "m5.2xlarge"
storage_class_name  = "gp2"

# Set to true to install the AWS Load Balancer Controller for ALB ingress / Gateway API
install_cloud_lb_controller = false

# Set to true to create an S3 bucket with IAM credentials for external object store testing
create_bucket = false
# bucket_name = "my-custom-bucket-name"

tags = {
  "Team" = "platform"
}
