apiVersion: apps.wandb.com/v2
kind: Application
metadata:
  labels:
    app.kubernetes.io/name: operator
    app.kubernetes.io/managed-by: kustomize
  name: application-sample
spec:
  metaTemplate:
    labels:
      app: my-app
      env: dev
    annotations:
      foo: bar
  podTemplate:
    spec:
      containers:
      - name: my-app
        image: nginx:1.14.2
