apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ .Release.Name }}-kafka
rules:
  - apiGroups:
      - kafka.strimzi.io
    resources:
      - kafkanodepools
      - kafkas
      - kafkatopics
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - kafka.strimzi.io
    resources:
      - kafkanodepools/status
      - kafkas/status
      - kafkatopics/status
    verbs:
      - get
      - update

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ .Release.Name }}-kafka
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ .Release.Name }}-kafka
subjects:
  - kind: ServiceAccount
    name: wandb-operator
    namespace: {{ .Release.Namespace }}
