apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ .Release.Name }}-minio
rules:
  - apiGroups:
      - minio.min.io
    resources:
      - tenants
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - minio.min.io
    resources:
      - tenants/status
    verbs:
      - get
      -
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ .Release.Name }}-minio
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ .Release.Name }}-minio
subjects:
  - kind: ServiceAccount
    name: wandb-operator
    namespace: {{ .Release.Namespace }}
